<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="XPath" value="/FileZillaServer/Users"/>
    <add key="Source" value="C:\Program Files (x86)\FileZilla Server\FileZilla Server.xml"/>
    <add key="Destiny" value="C:\Users\arabasso\Desktop\FileZilla Server.xml"/>
    <add key="Executable" value="C:\Program Files (x86)\FileZilla Server\FileZilla Server.exe"/>
    <add key="Arguments" value="/reload-config"/>
  </appSettings>
</configuration>