<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Synchronization" type="SyncXml.SynchronizationConfigSection, SyncXml"/>
  </configSections>

  <Synchronization>
    <Files>
      <add name="filezilla-users" 
        xpath="/*"
        source="C:\WINDOWS\System32\config\systemprofile\AppData\Local\filezilla-server\users.xml"
        destiny="C:\Temp\users.xml"
        executable="SC"
        arguments="control filezilla-server paramchange" />
    </Files>
  </Synchronization>
</configuration>